---
import Button from "../buttons/Button.astro";

import { urlFor } from "../../lib/SanityImageUrl.ts";
import type { SanityImageObject } from "@sanity/image-url";

const {
  title_1,
  title_2,
  description_1,
  description_2,
  button,
  button_icon,
  bg_mobile,
  bg_tablet,
  bg_desktop,
  href,
} = Astro.props;

const bg_mob_url = urlFor(bg_mobile).format("webp").url();
const bg_tab_url = urlFor(bg_tablet).format("webp").url();
const bg_desk_url = urlFor(bg_desktop).format("webp").url();
---

<style>
  .hero-container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .hero-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 90%,
      #060c0f 100%
    );
    z-index: 0;
    pointer-events: none;
  }

  .bg {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: start;
    position: relative;
    z-index: 1;
  }

  .text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    gap: clamp(24px, 3vw + 1.5rem, 84px);

    @media (min-width: 1024px) {
      width: 60%;
    }
  }

  h1 {
    font-size: var(--text-2xl);
  }

  p {
    font-size: var(--base);
  }
</style>

<div class="hero-container">
  <div class="hero-bg">
    <picture>
      <source media="(min-width: 1280px)" srcset={bg_desk_url} />
      <source media="(min-width: 1024px)" srcset={bg_tab_url} />
      <img
        src={bg_mob_url}
        alt="Hero background"
        fetchpriority="high"
        loading="eager"
        decoding="sync"
      />
    </picture>
  </div>
  <div class="overlay"></div>

  <div class="bg margin">
    <div class="text">
      <h1>
        {title_1}<br /><strong>{title_2}</strong>
      </h1>
      <p>
        {description_1}
        <span style="color: var(--color-accent);">{description_2}</span>
      </p>
      <Button text={button} icon={button_icon} href={href} />
    </div>
  </div>
</div>
