---
import { getTranslations } from "../../utils/getTranslations";
import { getEntry } from "astro:content";
import Image from "astro/components/Image.astro";
// Images import

import Image1 from "/src/images/projects/1000010084.jpg";

//Components
import Main_layout from "../../layouts/main_layout.astro";
import Intro from "../../components/Intro.astro";
import Button from "../../components/Button.astro";
import Section from "../../components/Section.astro";
import GalleryPreview from "../../components/GalleryPreview.astro";
import Title from "../../components/Title.astro";
import Description from "../../components/Description.astro";
import Cards from "../../components/cards/Cards.astro";

// SVG imports
import Arrow_right from "/src/svg/arrow_right.svg";
import Hammer from "/src/svg/hammer.svg";
import Settings from "/src/svg/settings.svg";
import Accept from "/src/svg/accept.svg";

// Import images for preview gallery
const images = import.meta.glob(
  "/src/images/gallery_preview/*.{svg,png,jpg,jpeg}",
  {
    eager: true,
  }
);

// Get the language from the URL parameter
const { lang } = Astro.params;

// Load translations for the given language
let home = await getEntry("home", lang);
let navbar = await getEntry("navbar", lang);
let footer = await getEntry("footer", lang);

if (!home) {
  home = await getEntry("home", "pl");
}
const p = home.data;

export async function getStaticPaths() {
  return await getTranslations();
}

const cards = {
  card1: {
    title: p.cards.card1.title,
    text: p.cards.card1.description,
    svg: Hammer,
  },
  card2: {
    title: p.cards.card2.title,
    text: p.cards.card2.description,
    svg: Settings,
  },
  card3: {
    title: p.cards.card3.title,
    text: p.cards.card3.description,
    svg: Accept,
  },
};
---

<Main_layout title={`custom-steel.eu`}>
  <div class="bg-image h-[100vh] w-full lg:h-auto flex flex-col justify-center">
    <div
      class="pl-[10vw] pr-[15vw] sm:pr-[35vw] h-[50%] flex flex-col gap-6 sm:gap-12 mb-32 lg:mt-20 xl:mt-[20vh]"
    >
      <h1 class="text-5xl sm:text-6xl lg:text-7xl lg:mt-5">
        {p.title1}<br /><strong>{p.title2}</strong>
      </h1>
      <h2 class="text-base sm:text-3xl lg:text-3xl">
        {p.description1}
        <span class="text-accent">{p.description2}</span>
      </h2>
      <a
        class="text-xl w-42 sm:text-3xl lg:text-4xl sm:w-64 lg:w-[30vw] bg-accent text-center py-2 lg:py-4 rounded-lg"
        href=`#contact`>{p.button}</a
      >
    </div>
  </div>

  <Section>
    <Cards cards={cards} />
  </Section>

  <Section>
    <Description title={p.about.title} text={p.about.description} />
  </Section>

  <Section>
    <Title title={p.projects.title} />
    <GalleryPreview Images={images} />
    <Button link={`/${lang}/projects`} text={p.projects.button}>
      <Arrow_right />
    </Button>
    <Section />
  </Section>
</Main_layout>
